#map { 
    height: 550px; 
}

#map, .customPopup, .legend .toggle-text {
    font-family: 'Futura PT', sans-serif !important;
    font-size: 16px;
}

@media (max-width: 600px) {
  .leaflet-control-attribution {
    display: none;
  }
}

.leaflet-container img.leaflet-tile {
    mix-blend-mode: hue;
}

.leaflet-tile-container img {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.layer-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.layer-toggle:hover {
    border: 2px solid #4caa8f;
}

.vector-layer { background-image: url('assets/vector.jpg'); }
.satellite-layer { background-image: url('assets/satellite.jpg'); }

.popupImage {
    position: relative;
    width: 300px;
    height: 200px;
}

.popupImage img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.popupText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    color: white;
    box-sizing: border-box;
    letter-spacing: 0.6px;
    font-size: 15px;
}

.popupText a {
    color: #a0d5c6;
}

.popupSDGs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    padding-bottom: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.popupSDGs img {
    border: 2.5px solid white;
    width: 40px;
    height: 40px;
    margin: 2px;
}

.flex-break {
    flex-basis: 100%;
}

.legend {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 8px;
    letter-spacing: 1.4px;
}

.language-switch {
    position: absolute;
    top: 68px;
    right: 10px;
    width: 54px;
    height: 22px;
    z-index: 1000;

}

.language-switch input {
    display: none;
}

.toggle-label {
    display: block;
    width: 100%;
    height: 100%;
    background: #74C1AB;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.toggle-label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 20px;
    height: 16px;
    background: white;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
}

.language-switch input:checked + .toggle-label::after {
    transform: translateX(26px);
}

.toggle-text {
    position: absolute;
    top: 50%;
    width: 50%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.75);
}

.toggle-text.off {
    right: 0;
}
